@import "tailwindcss";

:root {
  --background: #E6D6C6;
  --violeta: #925E78;
  --verde-oscuro: #3B413C;
  --celeste: #9DB5B2;
  --amarillo: #ECECAB;
  --naranja: #F19A3E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   /* chau */
}
.family-serif {
  font-family: var(--font-dm-serif-display);
}

